$dg: #202225;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    background: #36393F;
    color: #fff;
    overflow-y: hidden;
}

html, body {
    overflow-y: hidden;
    position: relative;
}

.chatroom {
    display: grid;
    grid-template-columns: 100px auto;
    height: 100vh;
    width: 100vw;
}

nav { 
    background: $dg;
    padding: 30px 15px;
    z-index: 1;
    &::-webkit-scrollbar {
        background: $dg !important;
        width: 8px
    }
    &::-webkit-scrollbar-thumb {
        background: black!important;
        border-radius: 1rem;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: black !important;
    }

}

nav hr {
    border: none;
    height: 1px;
    border-bottom: 2px solid white;
    margin-bottom: 17.5px;
}

nav .add {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: none;
    font-weight: bold;
    font-size: 2rem;
    color: grey;
    position: absolute;
    bottom: 30px;
}

.add-chatroom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-inside {
    background: grey;
    width: 500px;
    margin-bottom: 8rem;
    padding: 2rem;
}

.user-avatar {
    width: 70px;
    height: 70px;
    background: red;
    border-radius: 100%;
    background-size: cover;
    position: relative;
    margin-bottom: 17px;
}

.user-avatar .user-info {
    position: absolute;
    left: 100%;
    display: none;
    min-width: 100px;
    background-color: grey;
    height: 100%;
}

.list-container {
    height: 70%;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        display: none;
        width: 2px;
    }
}

.user-avatar:hover .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.add-name {
    display: flex;
}

.room-avatar {
    width: 70px;
    height: 70px;
    background: black;
    color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 17px;
    cursor: pointer;
    transition: 0.5s ease-out;
    &:hover {
        border-radius: 40%;
    }
}

.message-control {
    display: flex;
}

.message-control img {
    border-radius: 100%;
    height: auto;
    width: 80px;
}

.message-control:not(:last-child) {
    margin-bottom: 1rem;
}

.chat-section {
    height: 100vh;
    display: grid;
    grid-template: 'a a b'
                   'c c b'
                   'd d b';
    grid-template-columns: auto auto 200px;
    grid-template-rows: 100px calc(100vh - 200px) 100px;
}

.chat-section form {
    grid-area: d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-section form div {
    width: 400px;
    display: grid;
    grid-template-columns: auto 100px;
    height: 40px;
}

.chat-box {
    overflow-y: auto;
    overflow-x: hidden;
    grid-area: c;
}

.member-list {
    background-color: #2F3136;
    grid-area: b;
    padding: 1rem;
    overflow-y: auto;
}

.member-list h2 {
    margin-bottom: 1rem;
}

.member-list div {
    overflow-y: auto;
}

.member-box {
    display: flex;
    align-items: center;
}

.member-box img {
    height: auto;
    width: 60px;
    border-radius: 100%;
}

.member-box:not(:last-child) {
    margin-bottom: 1rem;
}

.member-box div {
    display: flex;
    align-items: center;
}

.chat-roomname {
    grid-area: a;
    display: flex;
    align-items: center;
    padding: 0 4rem;
}

//scrollbar
.member-list {
    &::-webkit-scrollbar {
        background: grey !important;
        width: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background: white !important;
        border-radius: 1rem;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: black !important;
    }
}

.chat-box {
    &::-webkit-scrollbar {
        background: #36393F !important;
        width: 8px
    }
    &::-webkit-scrollbar-thumb {
        background: $dg !important;
        border-radius: 1rem;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: black !important;
    }
}